@charset "UTF-8";
.wrap {
  position: relative; }

.inner {
  max-width: 1100px;
  height: 100%;
  margin: 0 auto; }

.com_tit01 {
  font-family: 'NotoB';
  font-size: 120px;
  color: #fff;
  text-align: center; }

.com_txt01 {
  max-width: 70%;
  margin: 0 auto;
  font-family: 'NotoR';
  font-size: 32px;
  color: #fff;
  text-align: center; }

/* main */
.ggang_box {
  position: relative;
  height: 500px;
  background-color: #080808; }
  .ggang_box h2 {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    color: #333;
    font-size: 80px;
    line-height: 1;
    text-align: center; }

.fix_motion {
  background: #080808; }
  .fix_motion .fix_wrap {
    position: relative; }
    .fix_motion .fix_wrap:after {
      clear: both;
      display: block;
      content: ''; }
    .fix_motion .fix_wrap .tit {
      position: relative;
      z-index: 50;
      margin-bottom: 170px;
      font-size: 200px;
      color: #333;
      text-align: center; }
    .fix_motion .fix_wrap .text_box {
      float: left;
      width: 50%;
      padding-top: 300px; }
      .fix_motion .fix_wrap .text_box p {
        max-width: 80%;
        font-size: 36px;
        font-family: 'NotoM';
        color: #333;
        transition: color .5s; }
        .fix_motion .fix_wrap .text_box p.active {
          color: #fff; }
        .fix_motion .fix_wrap .text_box p.txt02, .fix_motion .fix_wrap .text_box p.txt03 {
          margin-top: 300px; }
        .fix_motion .fix_wrap .text_box p.txt04 {
          margin-top: 300px;
          margin-bottom: 500px; }
    .fix_motion .fix_wrap .device_fix {
      position: sticky;
      position: -webkit-sticky;
      top: calc(50vh - 204px);
      left: 0;
      z-index: 40;
      float: left;
      width: 50%; }

.no-csspositionsticky .fix_motion .fix_wrap .device_fix {
  position: relative;
  top: 600px; }

.fix_motion .fix_wrap .device_fix .watch_img {
  position: relative;
  width: 240px;
  height: 409px;
  margin: 0 auto; }
  .fix_motion .fix_wrap .device_fix .watch_img .img_device {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 20; }
  .fix_motion .fix_wrap .device_fix .watch_img .slide_wrap {
    overflow: hidden;
    position: absolute;
    left: 15px;
    top: 89px;
    z-index: 10;
    width: 195px;
    height: 237px; }
    .fix_motion .fix_wrap .device_fix .watch_img .slide_wrap .slide {
      width: 780px;
      height: 100%;
      transition: transform .5s; }
      .fix_motion .fix_wrap .device_fix .watch_img .slide_wrap .slide figure {
        float: left;
        width: 195px; }

@media only screen and (max-width: 1024px) {
  .ggang_box h2 {
    font-size: 32px; }

  .fix_motion {
    height: 3000px; }
    .fix_motion .fix_wrap .tit {
      font-size: 54px;
      margin: auto; }
    .fix_motion .fix_wrap .text_box {
      float: none;
      position: sticky;
      left: 0;
      top: 0;
      z-index: 50;
      width: 100%;
      padding-top: 100px; }
      .fix_motion .fix_wrap .text_box p {
        position: absolute;
        left: 0;
        top: 100px;
        width: 100%;
        max-width: 100%;
        padding: 0 20px;
        font-size: 18px;
        text-align: center;
        box-sizing: border-box;
        opacity: 0;
        transition: opacity .5s; }
        .fix_motion .fix_wrap .text_box p.active {
          opacity: 1; }
        .fix_motion .fix_wrap .text_box p.txt02, .fix_motion .fix_wrap .text_box p.txt03 {
          margin-top: 0px; }
        .fix_motion .fix_wrap .text_box p.txt04 {
          margin-top: 0px;
          margin-bottom: 0; }
    .fix_motion .fix_wrap .device_fix {
      top: calc(100vh - 360px);
      width: 100%; }
      .fix_motion .fix_wrap .device_fix .watch_img {
        width: 160px;
        height: 272px; }
        .fix_motion .fix_wrap .device_fix .watch_img .slide_wrap {
          top: 66px;
          width: 120px;
          height: 146px; }
          .fix_motion .fix_wrap .device_fix .watch_img .slide_wrap .slide {
            width: 480px; }
            .fix_motion .fix_wrap .device_fix .watch_img .slide_wrap .slide figure {
              width: 120px; }

  /* 모바일 버전에서 스크롤 거리를 설정함 */ }

/*# sourceMappingURL=style.css.map */
