.header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 15px 20px;
    backdrop-filter: saturate(1) blur(10px);
    box-shadow: 0 0 20px 5px #202020;
    border-bottom: {
        width: 1px;
        style: solid;
        color: rgba(255, 255, 255, 0.2);
    }

    &__logo {
        font-size: 24px;
        color: #fff;
    }
}

.ggang_box {
    height: 500px;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    h2 {
        width: 100%;
        color: #fff;
        font-size: 80px;
        text-align: center;
    }
}

.fix_motion {
    position: relative;
    height: 5000px;
    z-index: 10;
    .sticky_cont {
        overflow: hidden;
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        .cont_box {
            overflow: hidden;
            position: relative;
            height: 100%;

            .text_mask {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 60;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: opacity .5s;

                h2 {
                    font-size: 80px;
                    color: #fff;
                    text-align: center;
                }

                &.active {
                    opacity: 0;
                }

                &-ending {
                    opacity: 0;
                    background: #fff;
                    z-index: 30;

                    &.active {
                        opacity: 1;
                    }

                    h2 {
                        color: #000;
                    }
                }
            }

            .black_mask {
                position: absolute;
                left: 0;
                top: 0;
                z-index: 50;
                width: 50%;
                height: 100%;
                background: #000;
                &-right {
                    left: auto;
                    right: 0;
                }
            }

            .bg_img {
                position: absolute;
                left: 0;
                top: 0;
                z-index: 20;
                width: 100%;
                height: 100%;
                background: {
                    image: url('../images/steve_jobs.jpg');
                    size: auto 100%;
                    repeat: no-repeat;
                    position: center center;
                }
            }
        }
    }
}

.no-csspositionsticky {
    .fix_motion {
        height: auto;
        .sticky_cont {
            position: relative;
            .cont_box {
                .intro_txt {
                    display: none;
                }
                .left_mask {
                    width: 0;
                }
                .right_mask {
                    width: 0;
                }
            }
        }
    }
    .ending_txt {
        display: none;
    }
}